<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smart Bazzar Suite" parallel="tests" data-provider-thread-count="3">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Search Tests" verbose="2" preserve-order="true">
        <classes>
          <class name="tests.GetProductPriceTest"/>
        </classes>
    </test>
</suite>